In [2]:
# We import Pandas as pd
import pandas as pd

# We create a dictionary of Panda Series:
bob = pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch'])
alice = pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])

print(bob)
print()
print(alice)

bike     245
pants     25
watch     55
dtype: int64

book        40
glasses    110
bike       500
pants       45
dtype: int64

In [4]:
# Create the dictionary
items = { 'Bob' : bob, 'Alice': alice}

In [5]:
print(type(items))

<class 'dict'>

In [6]:
# We create the Pandas DataFrame by passing a dictionary of Pandas Series:
shopping_carts = pd.DataFrame(items)

# Display the DataFrame:
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [9]:
# We create a dictionary of Pandas Series without indexes:
bob = pd.Series([245, 25, 55])
alice = pd.Series([40, 110, 500, 45])

# Dictionary:
items = {'Alice': alice, 'Bob': bob}

# We create the DataFrame
df = pd.DataFrame(items)

# Display DataFrame
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [11]:
# We can create a DataFrame that only has bob's info:
bob_shop_cart = pd.DataFrame(items, columns = ['Bob'])

# Display Bob's shopping cart:
bob_shop_cart

   Bob
0  245
1   25
2   55

In [14]:
# We can select what items are in the DataFrame
sel_shop_cart = pd.DataFrame(items, index = [0, 1])

sel_shop_cart

   Alice  Bob
0     40  245
1    110   25

In [16]:
# We can also create a DataFrame from a dictionary of lists (arrays):
data = {'Integers' : [1, 2, 3],
       'Floats' : [4.5, 2.4, 6.8]}

df = pd.DataFrame(data)

df

   Integers  Floats
0         1     4.5
1         2     2.4
2         3     6.8

In [17]:
# Instead of integer label indices, we can use labels:
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

df

         Integers  Floats
label 1         1     4.5
label 2         2     2.4
label 3         3     6.8

In [18]:
# Lastly, we can create DataFrames manually by providing a list of python dictionaries:
items2 = [{'bikes' : 20, 'pants' : 30, 'watches' : 35},
         {'watches' : 10, 'glasses' : 50, 'bikes' : 15, 'pants' : 5}]

st_items = pd.DataFrame(items2)

st_items

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

In [19]:
st_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

st_items

         bikes  glasses  pants  watches
store 1     20      NaN     30       35
store 2     15     50.0      5       10